<partial-head once>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/mixes/_preview.css') }}"
  />
</partial-head>

<a
  href="{{ url_for('mixes.show', slug=mix.slug) }}"
  class="link-wrapper mix-preview-link"
  title="{{ mix.title }}"
>
  <div class="mix-preview">
    {% if mix.banner %}
    <img
      class="mix-banner"
      src="{{ url_for('assets.get_banner', id=mix.banner_id) }}"
      alt="Banner"
    />
    {% else %}
    <div class="mix-banner placeholder">No Banner</div>
    {% endif %}

    <div class="mix-info">
      <h3 class="mix-title">{{ mix.title }}</h3>
      <div class="mix-meta">
        <p><i class="fa fa-calendar"></i> {{ mix.release.year }}</p>
        <p><i class="fa fa-gamepad"></i> {{ mix.system }}</p>
        <p><i class="fa fa-globe"></i> {{ mix.region }}</p>
      </div>
    </div>

    <div class="mix-song-count">
      <span class="song-count-number">{{ mix.song_count or "No" }}</span>
      <span class="song-count-label">songs</span>
    </div>
  </div>
</a>
