<partial-head once>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/songs/_detail.css') }}"
  />
</partial-head>

<div class="song-show">
  <div class="song-show-header">
    {% if song.banner_id %}
    <img
      class="song-banner"
      src="{{ url_for('assets.get_banner', id=song.banner_id) }}"
      alt="Banner"
    />
    {% else %}
    <div class="song-banner placeholder">
      <i class="fas fa-image"></i>
    </div>
    {% endif %}
    <div class="song-info">
      <h1>{{ song.title }}</h1>
      <p class="song-artist">
        <i class="fa fa-user"></i>
        {{ song.artist }}
      </p>
    </div>
  </div>
</div>
