<partial-head once>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/songs/_search.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/common/autocomplete.css') }}"
  />
  <script src="{{ url_for('static', filename='js/common/autocomplete.js') }}"></script>
</partial-head>

<form id="song-search-form" method="get" action="{{ url_for('songs.index') }}">
  {% if mix %}
  <input type="hidden" name="mix_id" value="{{ mix.id }}" />
  {% endif %}

  <div class="form-field">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Song Title"
      value="{{ request.args.get('title', '') }}"
      autocomplete="off"
    />
    <auto-complete endpoint="/songs/autocomplete" field="title"></auto-complete>
  </div>

  <div class="form-field">
    <label for="artist">Artist</label>
    <input
      type="text"
      id="artist"
      name="artist"
      placeholder="Artist"
      value="{{ request.args.get('artist', '') }}"
      autocomplete="off"
    />
    <auto-complete
      endpoint="/songs/autocomplete"
      field="artist"
    ></auto-complete>
  </div>

  {% if not mix %}
  <div class="form-field">
    <label for="mix_title">Mix Title</label>
    <input
      type="text"
      id="mix_title"
      name="mix_title"
      placeholder="Mix Title"
      value="{{ request.args.get('mix_title', '') }}"
      autocomplete="off"
    />
    <auto-complete
      endpoint="{{ url_for('mixes.autocomplete') }}"
      field="title"
    ></auto-complete>
  </div>
  {% endif %}

  <!-- toggle for title translit -->

  <button type="submit">
    <i class="fa fa-search"></i>
    Search
  </button>
</form>
