{% extends "layout.html" %} {% block title %}Upload Simfiles{% endblock %} {%
block body %}
<partial-head once>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/songs/create.css') }}"
  />
</partial-head>

<div class="content">
  {% if mixes|length == 0 %}
  <h2>No mixes</h2>
  <div class="card empty">
    <i class="fas fa-folder-open fa-2x"></i>
    <p>
      Please <a href="{{ url_for('mixes.create') }}">add a mix</a> first before
      uploading songs.
    </p>
  </div>
  {% else %}
  <h2>Upload Simfiles</h2>
  <div class="card">{% include "songs/_form.html" %}</div>
  {% endif %}
</div>

{% endblock %}
