<partial-head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/mix/_form.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/common/autocomplete.css') }}"
  />
  <script src="{{ url_for('static', filename='js/common/autocomplete.js') }}"></script>
</partial-head>

<form id="mix-form" enctype="multipart/form-data">
  <div class="form-field">
    <label for="banner">Banner Image</label>

    <label
      for="banner"
      class="banner-preview-wrapper"
      id="banner-preview-wrapper"
    >
      {% if mix and mix.banner_id %}
      <img
        id="banner-preview"
        src="{{ url_for('assets_api.get_banner', id=mix.banner_id) }}"
        alt="Preview"
        style="display: block"
      />
      <div
        class="banner-placeholder"
        id="banner-placeholder"
        style="display: none"
      >
        Upload Banner
      </div>
      {% else %}
      <div class="banner-placeholder" id="banner-placeholder">
        Upload Banner
      </div>
      <img id="banner-preview" src="" alt="Preview" style="display: none" />
      {% endif %}
    </label>

    <input
      type="file"
      id="banner"
      name="banner"
      accept="image/*"
      style="display: none"
      {%
      if
      required
      %}required{%
      endif
      %}
    />
  </div>

  <div class="form-field">
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="title"
      required
      placeholder="Mix Title by Konami"
      value="{{ mix.title if mix else '' }}"
      autocomplete="off"
    />
  </div>

  <div class="form-field">
    <label for="system">System</label>
    <input
      type="text"
      id="system"
      name="system"
      required
      placeholder="Game System"
      value="{{ mix.system if mix else '' }}"
      autocomplete="off"
    />
    <auto-complete>
      {% for system in system_suggestions %}
      <option value="{{ system }}"></option>
      {% endfor %}
    </auto-complete>
  </div>

  <div class="form-field">
    <label for="region">Region</label>
    <input
      type="text"
      id="region"
      name="region"
      required
      placeholder="Region"
      value="{{ mix.region if mix else '' }}"
      autocomplete="off"
    />
    <auto-complete>
      {% for region in region_suggestions %}
      <option value="{{ region }}"></option>
      {% endfor %}
    </auto-complete>
  </div>

  <div class="form-field">
    <label for="release">Release Date</label>
    <input
      type="date"
      id="release"
      name="release"
      required
      value="{{ mix.release if mix else '' }}"
    />
  </div>

  <button type="submit">{{ action_label or 'Submit' }}</button>
</form>

<div id="result"></div>
