{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/mix/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/mix/_preview.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/mix/_search.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/common/autocomplete.css') }}"
/>
<script src="{{ url_for('static', filename='js/common/autocomplete.js') }}"></script>
{% endblock %} {% block sidebar %} {% include "_sidebar.html" %} {% if
session.get("is_admin") %}

<hr />

<div class="sidebar-actions">
  <a href="{{ url_for('web.mix_web.create') }}" class="button">
    <i class="fa fa-plus"></i>
    New Mix</a
  >
</div>

{% endif %}

<hr />
{% include "mix/_search.html" %} {% endblock %} {% block content %}
<div class="index-page">
  <div class="mix-list">
    {% for mix in mixes %} {% include "mix/_preview.html" %} {% else %}
    <p>No mixes found.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
