{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block sidebar
%} {% include "_sidebar.html" %} {% if session.get("is_admin") %}

<hr />

<div class="sidebar-actions">
  <a href="{{ url_for('web.mix_web.create') }}" class="button">
    <i class="fa fa-plus"></i>
    New Mix</a
  >
</div>

{% endif %}

<hr />
{% include "mix/_search.html" %} {% endblock %} {% block content %}
<sub-head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/mix/index.css') }}"
  />
</sub-head>

<div class="index-page">
  <div class="mix-list">
    {% for mix in mixes %} {% include "mix/_preview.html" %} {% else %}
    <p>No mixes found.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
