{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block body %}
<partial-head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/mix/index.css') }}"
  />
</partial-head>

<partial-aside class="app-sidebar">
  {% if session.get("is_admin") %}

  <hr />

  <div class="sidebar-actions">
    <a href="{{ url_for('web.mix_web.create') }}" class="button">
      <i class="fa fa-plus"></i>
      New Mix</a
    >
  </div>

  {% endif %}

  <hr />
  {% include "mix/_search.html" %}
</partial-aside>

<div class="index-page">
  <div class="mix-list">
    <h2>Mixes</h2>
    {% for mix in mixes %} {% include "mix/_preview.html" %} {% else %}
    <div class="empty-mix-list">
      <i class="fas fa-folder-open fa-2x"></i>
      <p>You don't have any mixes yet.</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
