{% extends "layout.html" %} {% block title %} {{ mix.title }} {% endblock %} {%
block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/mix/show.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/song/_preview.css') }}"
/>
{% endblock %} {% block sidebar %} {% include "_sidebar.html" %} {% if
session.get("is_admin") %}
<hr />

<div class="sidebar-actions">
  <a href="{{ url_for('web.mix_web.edit', id=mix.slug) }}" class="button">
    <i class="fas fa-pen"></i> Edit
  </a>
</div>
{% endif %} {% endblock %} {% block content %}
<div class="mix-show">
  <div class="mix-show-header">
    {% if mix.banner_id %}
    <img
      class="mix-banner"
      src="{{ url_for('assets_api.get_banner', id=mix.banner_id) }}"
      alt="Banner"
    />
    {% endif %}
    <div class="mix-info">
      <h1>{{ mix.title }}</h1>
      <p>{{ mix.release.year }} – {{ mix.system }} – {{ mix.region }}</p>
      <p class="mix-meta">{{ mix.song_count }} songs</p>
    </div>
  </div>

  <div class="mix-song-list">
    {% for song in mix.songs %} {% include "song/_preview.html" %} {% else %}
    <p>No songs in this mix yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
