{% extends "layout.html" %} {% block title %} {{ mix.title }} {% endblock %} {%
block body %}

<partial-head once>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/mix/show.css') }}"
  />
</partial-head>

<partial-aside class="app-sidebar">
  {% if session.get("is_admin") %}
  <hr />

  <div class="sidebar-actions">
    <a href="{{ url_for('web.mix_web.edit', id=mix.slug) }}" class="button">
      <i class="fas fa-pen"></i> Edit
    </a>
    <a href="/404" class="button danger">
      <i class="fas fa-trash"></i> Delete
    </a>
    <hr />
    <a href="{{ url_for('web.song_web.create', mix=mix.slug) }}" class="button">
      <i class="fas fa-plus"></i> Add Songs
    </a>
  </div>
  {% endif %}
</partial-aside>

<div class="mix-show">
  <div class="mix-show-header">
    {% if mix.banner_id %}
    <img
      class="mix-banner"
      src="{{ url_for('assets_api.get_banner', id=mix.banner_id) }}"
      alt="Banner"
    />
    {% endif %}
    <div class="mix-info">
      <h1>{{ mix.title }}</h1>
      <div class="mix-meta">
        <p><i class="fa fa-calendar"></i> {{ mix.release.year }}</p>
        <p><i class="fa fa-gamepad"></i> {{ mix.system }}</p>
        <p><i class="fa fa-globe"></i> {{ mix.region }}</p>
      </div>
      <p class="mix-meta">
        <i class="fa fa-compact-disc"></i>
        {{ mix.song_count }} songs
      </p>
    </div>
  </div>

  <div class="mix-song-list">
    {% for song in mix.songs %} {% include "song/_preview.html" %} {% else %}
    <p>No songs in this mix yet.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
