main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--surface-color);
  border-radius: var(--border-radius);
  padding: var(--space-xl);
  max-width: 400px;
  box-shadow: var(--box-shadow);
  color: var(--foreground-color);
}

.form-field {
  margin-bottom: var(--space-m);
}

input[type="password"] {
  width: 100%;
  padding: var(--space-s);
  border: 1px solid var(--interact-color);
  border-radius: var(--border-radius);
  background: var(--background-color);
  color: var(--foreground-color);
}

button {
  padding: var(--space-s) var(--space-m);
  width: 100%;
  border: none;
  background: var(--interact-color);
  color: white;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
}

#login-error {
  margin-top: var(--space-m);
  color: var(--error-color);
  text-align: center;
}
