.content {
  margin: auto 0;
  width: 400px;
  max-width: 100%;
}

.card {
  background: var(--surface-color);
  border-radius: var(--border-radius);
  padding: var(--space-xl);
  box-shadow: var(--box-shadow);
  color: var(--foreground-color);
}

button[type="submit"] {
  width: 100%;
}

#error {
  margin-top: var(--space-m);
  color: var(--error-color);
  text-align: center;
}
