{% extends "layout.html" %} {% block title %}Songs{% endblock %} {% block body
%}

<partial-head once>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/song/index.css') }}"
  />
</partial-head>

<partial-aside class="app-sidebar">
  {% if mix %} {% include "mixes/_action.html" %} {% else %} {% include
  "song/_action.html" %} {% endif %}
  <hr />
  {% include "song/_search.html" %}
</partial-aside>

<div class="content">
  {% if mix %} {% include "mixes/_detail.html" %} {% endif %}
  <div class="result-header">
    <h2>Songs</h2>
    <p class="result-count">{{ songs|length }} results</p>
  </div>
  <div class="song-list">
    {% for song in songs %} {% include "song/_preview.html" %} {% else %}
    <div class="empty-song-list">
      <i class="fas fa-folder-open fa-2x"></i>
      <p>No songs found.</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
