:root {
  --border-radius: 4px;

  --ddr-pink: #c71781;
  --ddr-blue: #2484c6;

  --background-color: #122739;
  --surface-color: #1e2a47;
  --surface-variant: #2a3a55;
  --interact-color: #365d80;
  --foreground-color: #ffffff;
  --foreground-color-muted: #999999;

  --error-color: #ff4d4d;

  --font-family: "Poppins", sans-serif;

  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  --space-xxs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-ms: 12px;
  --space-m: 16px;
  --space-ml: 20px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;

  height: 100vh;
  padding: 0;

  margin: 0;

  background: var(--background-color);
  color: var(--foreground-color);

  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input {
  height: 32px;

  padding: 4px 8px;

  border: none;

  background: var(--interact-color);
  color: var(--foreground-color);
  border-radius: var(--border-radius);

  outline: 2px solid transparent;

  transition: background 0.2s ease-in-out, outline 0.2s ease-in-out;
}

input:hover {
  outline: 2px solid var(--ddr-pink);
}

input:focus {
  outline: 2px solid var(--ddr-pink);
}

button {
  padding: 6px 12px;

  border: none;

  background: var(--interact-color);
  color: var(--foreground-color);
  border-radius: var(--border-radius);

  cursor: pointer;

  outline: 2px solid transparent;

  transition: background 0.2s ease-in-out, outline 0.2s ease-in-out;
}

button:hover {
  background: var(--ddr-pink);
}

button:focus {
  outline: 2px solid var(--ddr-pink);
}

.link-wrapper,
.link-wrapper a {
  color: currentColor;
  text-decoration: none;
}

.link-wrapper:visited,
.link-wrapper a:visited {
  color: currentColor;
}

.form-field {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 16px;
}

.form-field label {
  color: var(--foreground-color-muted);
  font-size: 0.9rem;
}

.form-field input {
  width: 100%;
}
