.mix-preview {
  display: flex;
  align-items: center;

  gap: var(--space-m);
  padding: var(--space-m);

  background: var(--surface-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);

  transition: background 0.2s ease-in-out;
}

.mix-preview:hover {
  background: var(--interact-color);
}

.mix-banner {
  width: 128px;
  height: auto;
  aspect-ratio: 2.5;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.mix-info {
  flex: 1;
}

.mix-title {
  margin: 0;
  font-size: var(--font-size-ml);
  color: var(--foreground-color);
}

.mix-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: var(--space-s);

  color: var(--foreground-color-muted);
  font-size: var(--font-size-s);
}

.mix-song-count {
  color: var(--foreground-color);

  font-weight: bold;
  text-align: center;
}

.song-count-number,
.song-count-label {
  display: block;
}

.song-count-label {
  font-size: var(--font-size-xs);
  color: var(--foreground-color-muted);
}
