.mix-show {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  padding: var(--space-xl);
  color: var(--foreground-color);
}

.mix-show-header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: var(--space-xl);
  width: 100%;
  max-width: 800px;
  margin-bottom: var(--space-xl);
}

@media (max-width: 600px) {
  .mix-show-header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    width: 100%;
  }

  .mix-banner {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .mix-show-header {
    row-gap: var(--space-l);
  }
}

.mix-banner {
  width: 270px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  background-color: var(--surface-color);
}

.mix-info h1 {
  margin-bottom: var(--space-m);
}

.mix-meta {
  color: var(--muted-text);
  font-size: 0.95rem;
}

.mix-song-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}
